body          {margin:0;padding:0 0 0 0;height: 100vh;font-family: 'Poppins', sans-serif;}
.header        {background-color: white;margin:;padding:0% 8% 0 8%;;margin-bottom: 0;
              color:white;box-shadow: 0px 0px 6px 0px grey;
              }
.title        {background-color: white;padding: 1% 0% 1% 0%;display: inline-block;width:30%}
.title  h1    {font-style:normal;font-size: 140%;font-family:'Poppins', sans-serif;color: #1b5672;
              display: inline-block;margin:0;
              box-shadow:0px 0px 0px 0px #9f9b9b;
              }
header .tabs  {text-decoration: none;background-color:;width: 65%;text-align: right;float: right;
              margin: 1.65% 0 0 0; border-bottom: solid #1b5672 0px;}
header .tabs a {text-decoration: none;color: grey;display: inline-block;
               margin: 0 0% 0 2.5%;font-size: 96%;font-weight: 500;border-top: 1px solid white;
               transition-property: border color;transition-duration: .4s;
               }
header .tabs a:hover{color:#1b5672;border-top: 1px solid #1b5672; }
header .tabs #logout:hover{color:#1b5672;border-top: 1px solid red; }
main          {margin: 3% 0 0 0;padding:0 8% 0 8%;background-color: ;}

 h3           {text-align: left;color: #1b5672;font-size:100% }
.stocklist-table-container{ display: inline-block;width: 100%;float: none;text-align: center
              background-color:white ;padding:0;text-align: center;max-height: 65vh;overflow: auto;
              float: clear;}
.stocklist-table-container .searchbar{display:block;}
.stocklist-table-container .searchbar input{
            display: inline-block;width: 30%;
            margin:0 1% 0.5% 0;
            color:#1b5672;
            border-top: none;
            border-left: none;
            border-right: none;
            border-bottom: 1px ##1b5672 solid;
            background-color: inherit;
            line-height: 200%;
            transition-property: border-color;
            transition-delay: 0s;
            transition-duration: .3s;
            float: right;
            outline: none;}
table         {width: 100%;border-radius: 10%;}
table tr      {text-align: center;line-height: 190%;transition-duration: .2s;font-size: 85%;font-weight: 100;color: #363636;
              }
table tr:hover td{background-color: #c2c3c0}
table th      {background-color:#c7d1d9 ;text-align: center;line-height: 250%;font-size: 95%;font-weight:200}
table th:first-child{border-top-left-radius: 10px}
table th:last-child{border-top-right-radius: 10px}
table td      {background-color:#e1e4e7 ;text-align: center;}
@keyframes fadeEffect {
  from{opacity:0}to{opacity: 1}
  }
