body          {margin:0;padding:0 0 0 0;height: 100vh;font-family: 'Poppins', sans-serif;}
.header        {background-color: white;margin:;padding:0% 8% 0 8%;;margin-bottom: 0;
              color:white;box-shadow: 0px 0px 6px 0px grey;
              }
.title        {background-color: white;padding: 1% 0% 1% 0%;display: inline-block;width:30%}
.title  h1    {font-style:normal;font-size: 140%;font-family:'Poppins', sans-serif;color: #1b5672;
              display: inline-block;margin:0;
              box-shadow:0px 0px 0px 0px #9f9b9b;
              }
header .tabs  {text-decoration: none;background-color:;width: 65%;text-align: right;float: right;
              margin: 1.65% 0 0 0; border-bottom: solid #1b5672 0px;}
header .tabs a {text-decoration: none;color: grey;display: inline-block;
               margin: 0 0% 0 2.5%;font-size: 96%;font-weight: 500;border-top: 1px solid white;
               transition-property: border color;transition-duration: .4s;
               }
header .tabs a:hover{color:#1b5672;border-top: 1px solid #1b5672; }
header .tabs #logout:hover{color:#1b5672;border-top: 1px solid red; }
main          {margin: 3% 0 0 0;padding:0 8% 0 8%;background-color: ;}

.supplierdatasection{ display: inline-block;width: 68%;float: left;
              background-color:white ;padding:0;;height: 76vh;
              float: clear;
              }
 h3           {text-align: left;color: #1b5672}
.suppliertablecontainer{ display: inline-block;width: 100%;float: none;text-align: center
              background-color:white ;padding:0;text-align: center;max-height: 65vh;overflow: auto;
              float: clear;
              }
table         {width: 100%;border-radius: 10%;}
table tr      {text-align: center;line-height: 190%;transition-duration: .2s;font-size: 85%;font-weight: 100;color: #363636;
              }
table tr:hover td{background-color: #c2c3c0}
table th      {background-color:#c7d1d9 ;text-align: center;line-height: 250%;font-size: 95%;font-weight:200}
table th:first-child{border-top-left-radius: 10px}
table th:last-child{border-top-right-radius: 10px}
table td      {background-color:#e1e4e7 ;text-align: center;}
.add-new-supplier-section{display: inline-block; width:26%;margin: 0 2% 0 0%;float: right;
              }
.add-supplier  {display: inline-block;width: 100%;background-color: #e1e4e7 ;margin: 0 0 4% 0;
               padding:4% 4% 4% 6%;border-radius:  5px;  box-shadow: 0 3px 6px 0 grey;}
.add-new-supplier-section .add-supplier-details{margin: 2% 2.5% 0% 2.5%}
.add-new-supplier-section .form-input-container  {width: 95%;display: inline-block;float: left;margin: 1% 0% 1% 0;}
.form-input-container label{font-size: 80%;color: grey}
.form-input-container input,.supplier-detail-form select  {
                      display: inline-block;width: 100%;
                      color:black;
                      border-top: none;
                      border-left: none;
                      border-right: none;
                      border-bottom: 1px grey solid;
                      background-color: inherit;
                      line-height: 200%;
                      transition-property: border-color;
                      transition-delay: 0s;
                      transition-duration: .3s;
                      float:;
                      outline: none;
                    }
.button-container{margin: 8% 0 0 0;padding: 0;float: clear;display:inline-block;width: 100%;text-align: center;}
.button-container button{border: 1px #1b5672 solid;background-color: #0a3c54;margin:0;font-weight: 600;font-size:90%;
                        padding:2% 5% 2% 5%;border-radius: 5px;color: #e1e4e7;transition-duration: .3s;}
.addbutton:hover{box-shadow: 0px 1px 5px 0px #040404}
                }
.form-input-container input:focus  {border-color: red}
.form-input-container input:hover {border-color: red;}
@keyframes fadeEffect {
  from{opacity:0}to{opacity: 1}
  }

.detailform input,.detailform select  {
                      display: inline-block;width: 100%;
                      color:black;
                      border-top: none;
                      border-left: none;
                      border-right: none;
                      border-bottom: 1px grey solid;
                      background-color: inherit;
                      line-height: 200%;
                      transition-property: border-color;
                      transition-delay: 0s;
                      transition-duration: .3s;
                      float:;
                      outline: none;
                    }
.detailform input:focus  {border-color: #1b5672}
.detailform input:hover{border-color: #1b5672;}
